<style>
  .main-content {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .indigo {
    background-color: rgb(99, 35, 248);
  }
  .yellow {
    background-color: rgb(204, 155, 8);
  }
</style>

<div class="main-content p-0">
  <div class="row justify-content-between mx-4 mt-5 gap-2">
    <div class="col indigo p-4 text-white rounded">
      <div
        class="d-flex direction-row align-items-start justify-content-between"
      >
        <h1>
          25K
          <span class="fs-6"
            >(-12.4% <fa-icon class="ms-2" [icon]="down"></fa-icon>)</span
          >
        </h1>
        <fa-icon [icon]="more"></fa-icon>
      </div>
      <p class="h4">Users</p>
    </div>
    <div class="col bg-primary p-4 text-white rounded">
      <div
        class="d-flex direction-row align-items-start justify-content-between"
      >
        <h1>
          $6.200
          <span class="fs-6"
            >(40.9%<fa-icon class="ms-2" [icon]="up"></fa-icon>)</span
          >
        </h1>
        <fa-icon [icon]="more"></fa-icon>
      </div>
      <p class="h4">Income</p>
    </div>
    <div class="col yellow p-4 text-white rounded">
      <div
        class="d-flex direction-row align-items-start justify-content-between"
      >
        <h1>
          2.49
          <span class="fs-6"
            >(84.7%<fa-icon class="ms-2" [icon]="up"></fa-icon>)</span
          >
        </h1>
        <fa-icon [icon]="more"></fa-icon>
      </div>
      <p class="h4">Conversion Rate</p>
    </div>
    <div class="col bg-danger p-4 text-white rounded">
      <div
        class="d-flex direction-row align-items-start justify-content-between"
      >
        <h1>
          44K
          <span class="fs-6"
            >(-13.6%<fa-icon class="ms-2" [icon]="down"></fa-icon>)</span
          >
        </h1>
        <fa-icon [icon]="more"></fa-icon>
      </div>
      <p class="h4">Sessions</p>
    </div>
  </div>
  <div class="bg-white shadow-lg p-0 mx-4 rounded mt-4">
    <app-chart></app-chart>
  </div>
</div>
